<div>
  <%= image_tag @postlmage.get_image %>
  <p>ショップ名:<%= @postlmage.shop_name %></p>
  <p>説明:<%= @postlmage.caption %></p>
  <p>投稿ユーザー画像:<%= image_tag @postlmage.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム:<%= @postlmage.user.name %></p>
  <p>投稿日:<%= @postlmage.created_at.strftime('%Y/%m/%d') %></p>
  <% if @postlmage.user == current_user %>
    <%= link_to "削除", postlmage_path(@postlmage), method: :delete %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @postlmage.post_comments.count %></p>
  <% @postlmage.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@postlmage, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>